@font-face {
    font-family: "Pecita";
    src: url("fonts/Pecita.otf");
    src: url("fonts/Pecita.otf") format("opentype");
}

html {
    font-family: "Pecita", serif;
}

button, option, select, input {
    font-family: "Pecita", serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #25CED1;
    text-align: center;
    font-size: 1.5em;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    margin: 0;
}

#main {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
    justify-content: center;
    width: 60%;
}

.canvas-container {
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.full-width {
    grid-column: span 2;
}

.centered {
    font-size: 1.3em;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button-container button {
    background: white;
    border: 3px solid #EA526F;
    border-radius: 13px;
    width: 80px;
    height: 40px;
    color: #EA526F;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.1s;
}

.button-container button:active {
    background: #EA526F;
    color: white;
    transform: scale(0.95);
}

#resultTable {
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

#resultTable tr:first-child {
    color: white;
    background-color: #FF8A5B;
    font-size: 1.2em;
    padding: 10px;
}

#resultTable td {
    text-align: center;
    padding: 5px;
}
